.list-wrapper:nth-child(1) {
    width: calc(60% - 8px);
}

.list-wrapper:nth-child(1) a.list-card:first-of-type .list-card-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.list-wrapper:nth-child(2) {
    width: calc(40% - 8px);
    opacity: 0.7;
}

.list-wrapper:nth-child(2) .list-card-title {
    font-size: 11px;
    line-height: 1.4;
}